.venv/
**/__pycache__/
*.pyc
src/fast_align/
src/BLI/
*.out
.env
**/compare_cognate_output.py
**/archive/
*.txt
*.png
pyrightconfig.json
lightning_logs/
src/data/data-cleaning-pipeline/
src/data/raw/
src/toydata/
